.app{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top :5rem;
  gap:2rem;
}
button{
  width:5rem;
  height:2rem;
  border-radius: 1rem;

  
}
button:hover{
  background-color:rgb(214, 205, 205);
  cursor: pointer;
  border:1px solid red;
  
}

input{
  width:15rem;
  height:2rem;
  border-radius: 8px;

}
input:focus{
  outline: none;
  border:1px solid rgb(172, 169, 226);
}